
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .timeBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            border: 2px solid #999;
            border-radius: 10px;
            font-size: 20px;
            white-space: nowrap;
        }

        .timeBox2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            border: 2px solid #999;
            border-radius: 10px;
            font-size: 20px;
            transform: scaleY(-.5) skewX(20deg) translateX(-32px) translateY(45px);
            filter: blur(0.5px);
            /* 模糊 */
            opacity: .7;
            /* 透明度 */
            white-space: nowrap;
        }
    